---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { collections } from "../content/index";
import { kebabCaseToTitleCase } from "../lib/util";

const books = Object.keys(collections);
---

<Layout title="Learn">
  <div class="mb-4 text-center py-32">
    <p class="text-5xl font-extrabold text-white mb-3">Learn</p>
    <p class="text-lg text-gray-300 md:text-xl">
      Learn vocabulary by playing a game
    </p>
  </div>

  <div class="flex flex-wrap justify-center gap-12 pb-4">
    {
      books.map((book) => (
        <Card href={`/${book}`} title={kebabCaseToTitleCase(book)} />
      ))
    }
  </div>
</Layout>
