---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-dark break-all">
    <div
      class="flex min-h-screen flex-col md:h-screen md:w-screen md:justify-between"
    >
      <div>
        <div class="h-[9px] cursor-pointer bg-yellow"></div>
      </div>

      <div class="flex-grow md:mt-0 mt-12">
        <slot />
      </div>

      <Navbar />
    </div>
  </body>
</html>
